.location-list {
  margin: 10vh 20vw;
}

.list-group-item > span {
  margin: auto 4px;
  text-decoration: none;
  font-weight: bold;
}

.list-group-item > span.address {
  text-decoration: underline;
  font-weight: normal;
}